<h2>Login</h2>

<form>
  <ul>
    <li>
      <label for="username">Username</label>
      <input type="text" name="username" id="username"
    </li>
    <li>
      <label for="password">Password</label>
      <input type="password" name="password" id="password"
    </li>
  </ul>
</form>